.book-animate {
    animation-name: fade-in;
    animation-duration: 4s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.image-block {
    animation-name: scroll-down;
    animation-duration: 2.8s;
    animation-timing-function: cubic-bezier(.86, .42, .83, .98);
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes scroll-down {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
        transform: scale(0.9) translateY(5%);
    }
    100% {
        transform: scale(0.85);
        bottom: 10%;
        left: 64.5%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*///////////////////////////////////////////*/

.leni-h1 {
    animation: glitch 20s 12s infinite;
}

.leni-button {
    animation: glitch 2.5s 7s infinite, glitch-2 2s 6.5s infinite;
}

@keyframes glitch {
    1%{
        transform: rotateX(10deg) skewX(90deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}

@keyframes glitch-2 {
    1%{
        transform: rotateX(10deg) skewX(70deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}
