:root {
    --leni-gradient: linear-gradient(to right, #28333F 0%, teal 5%, cadetblue 15%, #28333F 30%, teal 50%, #28333F 70%, cadetblue 85%, teal 95%, #28333F 100%);
    /*filter: hue-rotate(11deg);*/
}

body {
    background: var(--leni-gradient);
}

section.hidden {
    display: none;
}

.leni-h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.27);
    text-shadow: 4px 4px 4px rgba(241, 14, 37, 0.25);
    cursor: default;
}

.leni-h2 {
    margin: 0;
}

.leni-header {
    max-width: 100%;
}

.leni-header-title {
    padding: 2%;
    background: rgba(67, 82, 134, 0.33);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leni-nav {
    align-self: center;
    width: 100%;
    margin-top: -9%;
    /*background: var(--leni-gradient);*/
    background: url("res/leni-back.png");
    background-size: contain;
    filter: hue-rotate(10deg);
    transition-property: opacity;
    transition-duration: 1s;
}

.leni-nav:hover {
    opacity: 0.7;
    transition-property: filter;
    transition-duration: 2s;
    filter: hue-rotate(var(--rotate));
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 42px;
}

.nav-item {
    padding: 15px 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    text-align: center;
    color: whitesmoke;
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    text-shadow: 4px 4px 30px seashell,
                0 0 2px cadetblue,
                4px -4px 4px tomato,
                -4px 4px 4px cadetblue;
    transition-duration: 1s;
    cursor: pointer;
}

.nav-item:hover {
    color: transparent;
    text-shadow:    -1px -1px rgb(0 139 139 / 25%),
                    0 0 ghostwhite,
                    4px 4px darkcyan,
                    8px 8px 1px rgb(241 14 97 / 45%);
    background: url("res/line-3.png");
    opacity: 0.7;
    outline: 1px solid #28333F;
    transition-duration: 0.35s;
}

.maintus {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5.5%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("res/webb4.png");
    background-color: rgba(67, 82, 134, 0.42);
}

/*.leni-wrapper {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 0;*/
/*    text-shadow: 14px 14px 2px pink;*/
/*    background: url("res/leni-back.png") no-repeat;*/
/*    transition-duration: 1s;*/
/*}*/

.image-block {
    height: fit-content;
    width: fit-content;
    margin: auto 0;
    opacity: 0.9;
    position: absolute;
    bottom: 0; left: 40%; right: 0;
    z-index: 2;
}

.leni-book-3d {
    padding: 0;
    margin: 0;
    width: 464px;
    cursor: pointer;
}
